/* font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Farsan', cursive;
font-family: 'Merienda', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
body{
  background-color:#f6fcfa ;
}

*{
  font-family: 'Poppins', sans-serif;

     }
    
    .h-font-logo{
      font-family: 'Merienda', cursive;
      
    
    }
.carousel-image{
  width: 100%;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-bg{
 background-color: #2E4F4F; 
}
.btn:hover{
  background-color: #0E8388; 
}
.h-font{
  font-family: 'Merienda', cursive;
  font-weight: 800;
}

.Availibility-form{
  margin-top: -40px;
  z-index: 2;
  position: relative;
}
@media screen and (max-width:575px){
  .Availibility-form{
    margin-top: 25px;
  padding: 0 35px;
  }
}

.card-heading{
  font-weight: bolder;
  color:#076669 ; 

}

.swiper-testimonial{
  background-color: #CBE4DE;
}

.test-img{
  border-radius: 50%;
}
.discription{
  background-color: #2E4F4F;
  color:  #CBE4DE   ;
}

/* common  */

.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}


.custom-alert{
  position: fixed;
  top: 25px;
  right: 25px;
  
}

#dashboard-menu{
  position: fixed;
  height: 100%;
}

@media screen and (max-width:992px) {
  #dashboard-menu{
  
    height: auto;
    width: 100%;
  }
  #main-content{
    margin-top: 60px;
  }
}
/*        #2E4F4F     #0E8388     #CBE4DE    #f6fcfa  */